:root{
    --gradient: linear-gradient(45deg, #a0ffe6, #fff4b6, #ffc9f8, #aeb7ff);
}
body{
    background: var(--gradient);
    background-size: 800% 800%;
    animation: pangradient 10s ease infinite;
}
.grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto 600px 50px 600px auto;
    grid-template-rows: 800px auto;

}
.main{
    width: auto; height: auto;
    display: flex;
    align-items: center; /* aligns */
    justify-content: center; /* aligns */

    border: 1px dashed rgba(255, 255, 255, 0);
}
.machine{
    width: 500px; height: 800px;
    border-radius: 250px 250px 0px 0px;
    display: flex;
    flex-direction: column;
} 
.machine-display{
    margin: 50px;  
    width: 400px; height: 400px;
    background: radial-gradient(circle at 30px 50px, rgba(255, 255, 255, 0.795),rgba(165, 210, 255, 0.363));
    overflow: hidden; /* aligns */
    border-radius: 50%; 
    box-shadow: inset -20px -20px 20px rgba(243, 250, 255, 0.726);
    
    z-index: 1;
    
}


.label-knob{
    position: relative;
    width: 100px; height: 100px;
    top: -25px;
    left: 100px;
    background: lightgray;
    border-radius: 50%; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.699), inset 5px 5px 15px rgba(0, 0, 0, 0.699);
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateX(10deg) scale(.95);
    transition: transform 250ms;
    z-index: 2;
}
.knob-twist{
    margin: -3px auto;
    width: 35px; height: 106px;
    background: lightgray;
    border-radius: 15%; 
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.699);
    z-index: 1;
}
.label-knob:hover{
    background: var(--gradient);
    transform: rotateZ(30deg);
}
#knob:checked ~ .label-knob{
    transform: rotateZ(90deg);
}
#knob:checked ~ .pit-cover{
    transition-delay: 500ms;
    transform: rotateX(75deg) scale(1.2);
}
#knob:checked ~ .machine-pit > .gacha-array > .gachaball {
    transition-delay: 500ms;
    transform: translateY(60px) scale(1.5) rotateZ(0deg);
    opacity: 1;
}
#knob:not(:checked) ~ .machine-pit > .gacha-array > .gachaball {
    transition-duration: 0ms;
    opacity: 0;
}

.pit-cover{
    margin: 35px 235px;
    width: 160px; height: 190px;
    background: rgba(255, 255, 255, 0.747);
    border-radius: 100px 100px 25px 25px; 
    z-index: 3;

    position: fixed; 
    overflow: hidden;
    top: 550px;
    
    transform-style: preserve-3d;
    transform-origin: top;
    transform: rotateX(0) scale(1);
    transition: transform 250ms;
}
.machine-pit{
    text-align: center;
    margin: 40px;
    width: 150px; height: 180px;
    background: rgb(19, 62, 70);
    border-radius: 100px 100px 25px 25px; 
    box-shadow: inset 5px 5px 25px rgb(0, 0, 0);
    z-index: 1;

    justify-content: center; 
    position: fixed; 
    overflow: hidden;
    top: 550px;
    transform: translateX(200px);
}

.gacha-array{
    margin-top: -50px;
    margin-left: -25px;
    display: flex;
    flex-direction: row;
    height:200px; width: 1600px;
    animation: gacha-cycle 8s steps(8) infinite running;
}
.gachaball{
    margin: 50px;
    transform: scale(1) rotateZ(-90deg);
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}
.p{
    position: fixed;
    transform: scale(6);
    margin: auto;
    margin-left: 800px;
    margin-top: -200px;
    opacity: 0;
}
.p8{
    width: 100px; height: 100px;
    animation: pikaspin 2s infinite linear;
}
#g1:checked ~ .flash .p1{ opacity: 1;}
#g2:checked ~ .flash .p2{ opacity: 1;}
#g3:checked ~ .flash .p3{ opacity: 1;}
#g4:checked ~ .flash .p4{ opacity: 1;}
#g5:checked ~ .flash .p5{ opacity: 1;}
#g6:checked ~ .flash .p6{ opacity: 1;}
#g7:checked ~ .flash .p7{ opacity: 1;}
#g8:checked ~ .flash .p8{ opacity: 1;}






.side{ /* Reserved for when we can use JS */
    border: 1px dashed rgba(255, 255, 255, 0);
}

/* keyframes */
@keyframes pangradient{ /* pans background for gradient effect */
    0%{background-position:90% 0%}
    50%{background-position:0% 90%}
    100%{background-position:90% 0%}
} 
@keyframes gacha-cycle{ /* cycles through radio buttons for rng */
    from{transform: translateX(0px);}
    to{transform: translateX(-1600px);}
}  
@keyframes pikaspin{ /* keeps detective pikachu on his toes */
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}  

/* Capsules */
.capsule {
  display: relative;
  margin: 10px;
  width: 80px;
  height: 80px;
  background: var(--gradient);
  border-radius: 50%;
  box-shadow: inset 0 -62px 0 -37px rgb(217, 246, 255), 
  inset 0 -66px 0 -35px rgb(255, 255, 255), 0 0 0 5px rgb(255, 255, 255);
  position: relative;
}

/* Below this is temporary code */
.g{
    position: absolute;
    opacity: 1;
    top: 0px;
    left: 0px;
} /* for checking input */
.g:nth-of-type(1){top:20px}
.g:nth-of-type(2){top:40px}
.g:nth-of-type(3){top:60px}
.g:nth-of-type(4){top:80px}
.g:nth-of-type(5){top:100px}
.g:nth-of-type(6){top:120px}
.g:nth-of-type(7){top:140px}
.g:nth-of-type(8){top:160px}
.g:nth-of-type(9){top:180px}
.g:nth-of-type(10){top:200px}
.g:nth-of-type(11){top:220px}